@model Project.Models.TestData
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor



<form asp-controller="Home" asp-action="Test">

    <label>ID</label>
    <input  asp-for="Id" type="number"/>
    <br/>

    <label>Name</label>
    <input asp-for="Firstname"/>

    <button asp-action="Test">Submit</button>

</form>